<!DOCTYPE html>
<html lang="en" >
<head>
  <script>
if (location.protocol != 'https:') {
 location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
}
</script>
    <!-- Codificação caracteres da página -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SEO Geral -->
  <title>Rainy List | certified </title>
  <meta name="description" content="Looking for that perfect Discord Bot? Start promoting your bot to discord and get more users. Cloud Bot List is an online page where discord users can post their bots for free and start gaining more users. Cloud Bot List - Spice up your Discord experience with our diverse range of Discord bots">
  <link rel="canonical" href="https://www.cloudlist.xyz">
  <meta name="author" content="Bruninho">
  <meta name="robots" content="index">
  <meta name="keywords" content="lista, melhores, bots, discord, música, moderação, league of legends, jogos, economia, brasileiros, português, discordapp, bots para discord,Cloud bot List,cloud list,cloud bot list,bots for discord,game,tags,tag,fun,webdashboard,discord bot list,dc bot list,bot list,NSFW,moderation,english">

  <!-- Google+ / Schema.org -->
  <meta itemprop="name" content="Cloud List | certified">
  <meta itemprop="description" content="Looking for that perfect Discord Bot? Start promoting your bot to discord and get more users. Cloud Bot List is an online page where discord users can post their bots for free and start gaining more users. Cloud Bot List - Spice up your Discord experience with our diverse range of Discord bots">
  <meta itemprop="image" content="https://cdn.discordapp.com/attachments/644560294869205022/662805739852791825/cloudlistbg.png">
  <link href="https://plus.google.com/+SuaPagina" rel="publisher">
  
  <!-- Open Graph Facebook -->
  <meta property="og:title" content="Cloud List | certified">
  <meta property="og:description" content="Looking for that perfect Discord Bot? Start promoting your bot to discord and get more users. Cloud Bot List is an online page where discord users can post their bots for free and start gaining more users. Cloud Bot List - Spice up your Discord experience with our diverse range of Discord bots"/>
  <meta property="og:url" content="https://www.cloudlist.xyz">
  <meta property="og:site_name" content="Cloud Bot List"/>
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://cdn.discordapp.com/attachments/644560294869205022/662805739852791825/cloudlistbg.png">

  <!-- Twitter -->
  <meta name="twitter:title" content="Cloud List | certified">
  <meta name="twitter:description" content="Looking for that perfect Discord Bot? Start promoting your bot to discord and get more users. Cloud Bot List is an online page where discord users can post their bots for free and start gaining more users. Cloud Bot List - Spice up your Discord experience with our diverse range of Discord bots">
  <meta name="twitter:url" content="https://www.cloudlist.xyz">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/644560294869205022/662805739852791825/cloudlistbg.png">
  <!-- <meta name="twitter:creator" content="@estevanmaito"> -->
  <meta name="twitter:site" content="@CloudList">
     
     
  <meta name="application-name" content="Cloud Bot List"/>
  <meta name="msapplication-TileColor" content="#7289da" />
  <meta name="msapplication-TileImage" content="https://cdn.discordapp.com/attachments/644560294869205022/662805739852791825/cloudlistbg.png" />
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Baloo+Bhai|Bowlby+One+SC|Concert+One|Francois+One|Fredoka+One|Passion+One|Patua+One|Permanent+Marker&display=swap" rel="stylesheet">	<link rel="canonical" href="https://cloudbotlist.glitch.me">
  <link href="https://fonts.googleapis.com/css?family=Anton|Baloo|Baloo+Bhai|Concert+One|Fjalla+One|Fredoka+One|Fugaz+One|Patua+One|Press+Start+2P|Teko&display=swap" rel="stylesheet">

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->      
    <!-- Compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">  
  <link rel="stylesheet" href="/index.css"> 
  <script src="/index.js"></script>
  <link rel="stylesheet/scss" type="text/css" href="public/_navbar.scss">

</head>
  <body> 

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7Q7WX2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->  

      <link rel="shortcut icon" href="https://cdn.glitch.com/a41b7884-47f3-4b54-aba8-dfda5825d37f%2Faaee.jpg?v=1579489039463" type="image/x-icon">
      <nav style="color:white;font-size:19px;" class="navbar navbar-expand-md" id="navbar">
<a style="background:transparent;font-size:35px;text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);" class="navbar-brand" href="/">Rainy List</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
               <li  class="nav-item active">
                  <a  class="nav-link" href="/server">
                  <i class="fab fa-discord"></i> Join Discord</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/add">
                  <i class="fas fa-plus-square"></i> Add Bot</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="https://www.npmjs.com/package/cloud-list"><img src="https://img.icons8.com/windows/32/000000/npm.png"> Npm Rainylist</a>
                     <a class="dropdown-item" href="/apidocs"><img src="https://img.icons8.com/windows/32/000000/api.png"> Api V¹</a>
                     <a class="dropdown-item" href="/tos"><img src="https://img.icons8.com/dusk/32/000000/rules.png"> TOS</a>
                     <a class="dropdown-item" href="/markdown"><img src="https://img.icons8.com/dusk/32/000000/ball-point-pen.png"> Markdown</a>       
                    <a class="dropdown-item" href="/certified"><img src="https://img.icons8.com/dusk/32/000000/trophy.png"> Certified</a> 
                  </div>
               </li>
               <li id="login" class="nav-item">
                  <a class="nav-link" id="login_discord" href="<%=url%>">
                  <i class="fas fa-sign-in-alt"></i> Login With Discord</a>
               </li>

               <li id="drop" class="nav-item dropdown" style="display: initial;">
                  <a class="nav-link dropdown-toggle" id="user_drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i> <%=status.username%>#<%=status.discriminator%></a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4" style="background-color;white;;cursor:pointer;color:black">
                     <a style="color:black" class="dropdown-item" href="/mybots" style="color: white"><i class="fas fa-database"></i> My Bots</a>
                     <a style="color:black"  class="dropdown-item" href="/user" style="color: white"><i class="fas fa-user"></i> Profile</a>
                     <a style="color:black"  class="dropdown-item" href="/api/keys" style="color: white"><i class="fas fa-key"></i> Api Keys</a>
                     <a style="color:black"  class="dropdown-item" href="/myapikeys" style="color: white"><i class="fas fa-key"></i> My Api Keys</a>
                     <a style="color:black"  class="dropdown-item" href="/admin" style="color: white"><i class="fas fa-user-shield"></i> Bots</a>
                     <div class="dropdown-divider"></div>
                     <a style="color:black"  class="dropdown-item" href="logout" style="color: white"><i class="fas fa-sign-out-alt"></i> Log out</a>
                  </div>
               </li>

            </ul>
         </div>
      </nav>



<div id="banner" style="background-color:#23272A;height:550px" class="banner jumbotron jumbotron-fluid bg-blurple text-white text-center">
<div style="margin-top: 120px">
<h1 style="font-family: 'Baloo Bhai', cursive;font-size:70px;">Rainy Bot List</h1>
  <h2 style="font-family: 'Baloo Bhai', cursive; font-size:40px;">certified Program</h2> 
  </div>
  </div>
<section class="section" style="background-color:#23272A;">

  <h1 style="color:white;font-size:50px;text-align:center;">certified perks</h1>
	<div class="container" > 
<h2 style="font-size:40px;text-align:center;margin-bottom:100px;">
  1. Custom Vanity Url <br>
  2. Custom Image Card <br>
  3. Custom Background color <br>
  4. Bot will appear at main page on certified Bots <br>
  5. certifiedBadge for your profile <br>
  6. Cerfied Developer for you and certified Bot for your bot <br>
  7. certified Text Channel <br>
  8. certified Audio Channel <br>
  More...
   </h2 >
   
	</div>  

  <h1 style="color:white;font-size:50px;text-align:center;">Requirements</h1>
	<div class="container" > 
		<div class="card is-fullwidth" style="margin-bottom:10px;">
			<header class="card-header">
				<p class="card-header-title" style="font-size:40px;">Unique</p>
				<a class="card-header-icon card-toggle">
					<i class="fa fa-angle-down"></i>
				</a>
			</header>
			<div class="card-content is-hidden">
				<div class="content" style="color:black;font-size:30px;">
					We know that all bots are unique, but we are looking for rare bots
				</div>
			</div>
		</div>
		<div class="card is-fullwidth" style="margin-bottom:10px;">
			<header class="card-header">
				<p class="card-header-title" style="font-size:40px;">NSFW</p>
				<a class="card-header-icon card-toggle">
					<i class="fa fa-angle-down"></i>
				</a>
			</header>      
			<div class="card-content is-hidden">      
				<div class="content" style="color:black;font-size:30px;">
					NSFW. We always pay attention to this condition, many forget to put nfsw and it harms our underage clients a lot. We are looking for bots that explicitly state that they use NSFW Commands
				</div>
			</div>
		</div>  
		<div class="card is-fullwidth" style="margin-bottom:10px;">
			<header class="card-header">
				<p class="card-header-title" style="font-size:40px;">24/7 Hosting</p>
				<a class="card-header-icon card-toggle">
					<i class="fa fa-angle-down"></i>
				</a>
			</header>
			<div class="card-content is-hidden">
				<div class="content" style="color:black;font-size:30px;">			
          we are looking for bots that are always online, we don't want bots that are not on a host for 24/7.
				</div>
			</div>
		</div>  
		<div class="card is-fullwidth" style="margin-bottom:10px;">
			<header class="card-header">
				<p class="card-header-title" style="font-size:40px;">Partner</p>
				<a class="card-header-icon card-toggle">
					<i class="fa fa-angle-down"></i>
				</a>
			</header>
			<div class="card-content is-hidden">
				<div class="content" style="color:black;font-size:30px;">			       
          We are partners!
				</div>
			</div>
		</div>      
		<div class="card is-fullwidth" style="margin-bottom:10px;">
			<header class="card-header">
				<p class="card-header-title" style="font-size:40px;">Your Own content</p>
				<a class="card-header-icon card-toggle">
					<i class="fa fa-angle-down"></i>
				</a>
			</header>
			<div class="card-content is-hidden">
				<div class="content" style="color:black;font-size:30px;">			       
          We are looking for bots created from scratch, we do not want bots that were caught in an open source
				</div>
			</div>
		</div>   
		<div class="card is-fullwidth" style="margin-bottom:10px;">
			<header class="card-header">
				<p class="card-header-title" style="font-size:40px;">Post To our Api</p>
				<a class="card-header-icon card-toggle">
					<i class="fa fa-angle-down"></i>
				</a>
			</header>
			<div class="card-content is-hidden">
				<div class="content" style="color:black;font-size:30px;">			       
          All pots need to make a post request to our api <a href="/apidocs">Here</a>
				</div>
			</div>
		</div> 
	</div>
</section>


    


  </body>


  <style>
    .nav-item {
      cursor:pointer;
    }




  </style>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
	let cardToggles = document.getElementsByClassName('card-toggle');
	for (let i = 0; i < cardToggles.length; i++) {
		cardToggles[i].addEventListener('click', e => {
			e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
		});
	}
});
  </script>